h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;
    color: #0000ff; 
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;
    color: #ff0000; 
}






