.navigation_seven nav ul {
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color: #fff;
   display: flex;
   gap: 30px;
   margin: 100px 350px 100px;
   padding: 25px;
   list-style: none;
   background-color: #d6afdc;
   border-radius: 0px;
}

.color_blue {
   padding: 12px;
   background-color: #0000ff;
   border-radius: 0px;
}



