.navigation_seven nav ul {
   font-weight: bold;
   color: #fff;
   display: flex;
   gap: 30px;
   margin: 100px 400px 100px;
   padding: 25px;
   list-style: none;
   background-color: #ecb4e0;
   border-radius: 0px;
}

.color_blue {
   padding: 12px;
   background-color: #5252f5;
   border-radius: 0px;
}



