h3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 50px;
}

.link_yellow {
    color: #ffff00;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
 }

 .link_purple {
    color: #800080;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
 }


 








