body {
    display: flex;
    padding: 20px;
    text-align: center;
    font-size: 30px;    
}

.color_green {
    color: #3B8000;
}

.color_red {
    color: #ff0000;
}

.bordes_black {
    border-top: 2px solid #000000;
}

.big_black {
    font-size: 70px;
}

.color_blue {
    color: #0000ff;
}

.bordes_red {
    color: #ff0000;
    font-weight: bold;
}







